.join-the-fun {
    background-color: #2F303A;
    position: absolute;

    .container3 {
        background-color: #2F303A;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        gap: 20px; 
        .circle3 {
            width: 35vw; 
            height: 35vw;
            background-color: #bc3a801a;
            border-radius: 100%; 
            position: absolute; 
            top: 40%;
            left: -7%;
        }
        .circle4 {
            width: 35vw; 
            height: 35vw;
            background-color: #3457b21a;
            border-radius: 100%; 
            position: absolute; 
            top: 20vh;
            right: 20vw;
            top: -10%;
            left: 25%;
        }
        .left-container3, .right-container3 {
            flex: 1;
            padding: 20px;
            box-sizing: border-box;
        }
        .left-container3 {
            .h13 {
                margin-top: 300px;
                color:white;
                margin-left: 25rem;
                font-size: 3rem;
                .color {
                    color:#bc3a80;;  
                }
            }
        }
        
        .right-container3 {
          
            .join-button{
                padding: 1.2em 2.5em;  
                width: auto;            
                height: 3.5em;  
                width: 20rem; 
            }
        }
    }
}

