.form {
    background-color: #202027;
    margin-top:10rem;
    padding:1rem;
    width: 22rem;
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 700;
        color: white;
        display: flex;
        flex-direction: column;
        
    }
    input {
        width: 18rem;
        height: 2rem;
        margin-bottom: 5px;
        font-size: 14px;
        background-color: #202027;
        border-color: #2E3852;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
    }
      
  }
  
 

  
 
  