/* nav.css */
.nav {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  align-items: center; /* Centra los elementos verticalmente */
  padding: 10px 20px; /* Espaciado interno */
  background-color: #2F303A; /* Color de fondo del nav (puedes cambiarlo) */
  color: white;
  .nav-left {
    display: flex;
    align-items: center;
    .logo {
      width: 40px; /* Ajusta el tamaño del logo */
      margin-right: 10px; /* Espacio entre el logo y el texto */
    }
    
    .brand-name {
      font-size: 24px; /* Tamaño del texto "soundwave" */
      font-weight: bold;
    }
    
  }
  .nav-right {
    display: flex;
    align-items: center;
    .nav-link {
      color: white;
      text-decoration: none;
      margin-left: 20px; 
      font-size: 18px;
    }
    
    .nav-link:hover {
      text-decoration: underline; 
    }
  }
}







